<template>
  <div>
    <Navbar />
    <div class="container-fluid ">
      <div class="row">
        <div class="col-sm-12">
          <b-card class="mt-3" bg-variant="dark" text-variant="white" :title="`Network: ${network.name} | Chain ID: ${network.chainId}`">
            <b-card-text>
              My Address: {{ signerAddress }}
              <br>
              Ether Balance: {{ balance }}
              <br>
              Block Number: {{ blockNumber }}
            </b-card-text>
            <!-- <b-button href="#" variant="primary" class="float-right">Go somewhere</b-button> -->
          </b-card>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <b-card class="mt-3" bg-variant="dark" text-variant="white" :title="`Send Ethereum`">
            <label for="receiverAddress">Receiever Address</label>
            <input type="text" id="receiverAddress" placeholder="Enter receiver address..." class="form-control" v-model="receiverAddress" />
            <br>
            <label for="receiverAddress">Amount</label>
            <input type="number" id="receiverAddress" placeholder="Enter amount..." class="form-control" v-model="amount" />
            <br>
            <a :href="`https://kovan.etherscan.io/tx/${txHash}`"  v-if="txHash !== null">
              <p>{{ txHash }}</p>
            </a>
            <b-button variant="primary" class="float-right" @click="sendTx()">Submit</b-button>
          </b-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ethers, providers } from "ethers";

export default {
  data() {
    return {
      ether: null,
      signerAddress: '',
      receiverAddress: '',
      balance: null,
      blockNumber: null,  
      gasPrice: null,
      network: {},
      amount: null,
      txHash: '',
      interval: null,
    }
  },
  methods: {
    async getEther() {
      const provider = new ethers.providers.Web3Provider(window.ethereum);
      const network = await provider.getNetwork();
      const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
      console.log('Accounts: ', accounts)
      console.log(`Network: `, network)
      this.ether = provider;
      this.network = network;
    },

    async getBlockNumber() {
      const provider = new ethers.providers.Web3Provider(window.ethereum);
      const blockNumber = await provider.getBlockNumber()
      console.log('BlockNumber: ', blockNumber)
      this.blockNumber = blockNumber;
    },

    async getBalance() {
      const provider = new ethers.providers.Web3Provider(window.ethereum);
      const signer = provider.getSigner()
      console.log('Signer: ', signer)
      const signerAddress = await signer.getAddress();
      this.signerAddress = signerAddress;
      const balance = await provider.getBalance(signerAddress)
      const formatted = ethers.utils.formatEther(balance)
      console.log('Balance: ', formatted)
      this.balance = formatted
    },

    async sendTx() {
      const provider = new ethers.providers.Web3Provider(window.ethereum);
      const signer = provider.getSigner()
      const transactionParameters = {
        from: await signer.getAddress(),
        to: this.receiverAddress,
        value: ethers.utils.parseUnits(this.amount, 'ether').toHexString(),
        gasPrice: (await provider.getGasPrice()).toHexString(),
        gas: '0x5208',
        chainId: 42
      };

      const txHash = await ethereum.request({
        method: 'eth_sendTransaction',
        params: [transactionParameters],
      });

      this.txHash = txHash;

      if(txHash) {
        this.receiverAddress = null;
        this.amount = null;
      }

      console.log(txHash)
    }
  },
  async mounted() {
    await this.getEther();
    await this.getBlockNumber();
    await this.getBalance();
    this.interval = await setInterval(()=> {
      this.getEther();
      this.getBlockNumber();
      this.getBalance();
    }, 3000)
  },
  beforeDestroy () {
    clearInterval(this.interval)
    console.log('Index destroyed!')
  },
}
</script>

